{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% load humanize %} {% block title %} password change sucessful|legitdata{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'ogbam/form.css' %}">

<div style="padding-top:120px;margin-bottom:90px;">
    <div class="row">
        <div class="col-75 ">
            <div class="box w3-card-4">

                <p>
                    <h2 class='w3-center'> password change successsful <a href="{% url 'profile' %}"> back to dashboard </a></h2>
                </p>

            </div>
        </div>

    </div>
{% endblock %}