{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% load humanize %} {% block title %} password change sucessful|legitdata{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'ogbam/form.css' %}">

<div style="padding-top:120px;margin-bottom:90px;">
    <div class="row">
        <div class="col-75 ">
            <div class="box w3-card-4">
                <h2>Password reset complete</h2>

                <p>
                    <h4 class='w3-center'> Your password has been set. You may go ahead and log in now.<a href="{% url 'login' %}"> Login </a></h4>
                </p>

            </div>
        </div>

    </div>
{% endblock %}