{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% load humanize %} {% block title %} password change sucessful|legitdata{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'ogbam/form.css' %}">

<div style="padding-top:120px;margin-bottom:90px;">
    <div class="row">
        <div class="col-75 ">
            <div class="box w3-card-4">
                <h2>Password reset sent</h2>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.

                </p>

            </div>
        </div>

    </div>
{% endblock %}