 {% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'ogbam/form.css' %}"> {% block title %} Bulk sms Successful | legitdata{% endblock %} {% block content %}
<div style="padding-top:120px;margin-bottom:90px;">

    <div class="box w3-card-4">

        <h3 class='w3-center' id='header'>Bulk sms </h3>

        <table class='w3-table-all'>
            <tr>

                <td><b>ID</b></td>
                <td>{{bulk_success.ident}}</td>
            </tr>

            <tr>

                <td><b>Sendername</b></td>
                <td>{{bulk_success.sendername}}</td>

            </tr>

            <tr>

                <td><b>Total number</b></td>
                <td>{{bulk_success.total}} </td>
            </tr>


            <tr>

                <td><b>Total number deliverd to</b></td>
                <td>{{bulk_success.total}} </td>
            </tr>

            <tr>
                <td><b>Total invalid number</b></td>
                <td>{{bulk_success.invalid}}</td>
            </tr>

            <tr>
                <td><b>Total page</b></td>
                <td>{{bulk_success.page}}</td>
            </tr>

            <tr>

                <td><b>Total unit charge</b></td>
                <td>#{{bulk_success.amount}}</td>
            </tr>
        </table>

    </div>
    <button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button  w3-round w3-right" style=' border-radius:0  0 20px 20px;background-color:blue;color:white; '>Send</button>

</div>
<!--<a  href="{% url 'airtime' %}"  class="w3-button  w3-teal w3-round w3-right "  onclick = "document.getElementById('subscribe').style.display='block' "  style=' border-radius:0  0 20px 20px; '>Proceed</a>
          -->

<div id="subscribe" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px; border-radius:20px; margin-top:100px;">
        <div class="w3-container w3-white">

            <div class='w3-center'>
                <span class=' class="w3-button  w3-green ' style=' border-radius:50%; padding:2px 6px 2px 6px ; font-size:30px;margin-bottom:20px; '> ✓ </span>
                <h5> <b>SUCCESS!</b></h5>

                <p>Dear Customer , We will be shortly processing your request .</p>
                <a href="{% url 'profile' %}" class="w3-button  w3-blue w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none' " style=' border-radius:10px; padding:6px 18px 6px 18px; '>OK</a>



            </div>


        </div>
    </div>
</div>

</div>
</div>

</div>




{% endblock %}