{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% load humanize %} {% block title %}Cablesub{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'ogbam/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .process{
        display: none;
      }

      #name{
        display: none;
      }

      #process, #process2{
        display: none;
    }

     /*--thank you pop starts here--*/
     .thank-you-pop{
      width:100%;
       padding:20px;
      text-align:center;
    }
    .thank-you-pop img{
      width:76px;
      height:auto;
      margin:0 auto;
      display:block;
      margin-bottom:25px;
    }
    
    .thank-you-pop h1{
      font-size: 42px;
        margin-bottom: 25px;
      color:#5C5C5C;
    }
    .thank-you-pop p{
      font-size: 20px;
        margin-bottom: 27px;
       color:#5C5C5C;
    }
    .thank-you-pop h3.cupon-pop{
      font-size: 25px;
        margin-bottom: 40px;
      color:#222;
      display:inline-block;
      text-align:center;
      padding:10px 20px;
      border:2px dashed #222;
      clear:both;
      font-weight:normal;
    }
    .thank-you-pop h3.cupon-pop span{
      color:#03A9F4;
    }
    .thank-you-pop a{
      display: inline-block;
        margin: 0 auto;
        padding: 9px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        background-color: #8BC34A;
        border-radius: 17px;
    }
    .thank-you-pop a i{
      margin-right:5px;
      color:#fff;
    }
    #ignismyModal .modal-header{
        border:0px;
    }
    /*--thank you pop ends here--*/
    #div_id_customer_name{
      display: none;
    }
</style>



<div style="padding:90px 15px 20px 15px" >


    <h2 class="w3-center">Cablesub</h2>

    <div class="box w3-card-4">

        <form method="post" id='cableform' data-plans-url="{% url 'ajax_load_plans' %}" novalidate>


            <div class="row">

                <div class="col-sm-8">

                    {% csrf_token %} {% include 'baseform.html' %}
                    {% if charge %}
                    <p class="control">{{charge}}</p>

                    {% endif %}
                    <!-- <label><b>Customer Name</b></label>
                    <p class="control" id="name"> </p> -->


                  
                 
                    <button type="button"  class="btn process" id="btnsubmit" style='background-image: linear-gradient(-20deg, orange 0%, orange 100%);margin-bottom:15px;'>  Submit Order </span> </button>
</form>
                    <button type="button"  id="validateiuc" class=" btn" style='margin-bottom:15px;'>  <span id="process"><i class="fa fa-circle-o-notch fa-spin " style="font-size: 30px;animation-duration: 1s;"></i> Validating Please wait </span>  <span id ="displaytext">Validate </span></button>

                </div>
                <div class="col-sm-4 ">

                  <p style="font-size:20px;">You can contact DSTV/GOtv's customers care unit on 01-2703232/08039003788 or the toll free lines: 08149860333, 07080630333, and 09090630333 for assistance, STARTIMES's customers care unit on (094618888, 014618888)</p>

                    {% if form.non_field_errors %} {% for errormessage in form.non_field_errors %}

                    <div class=' alert alert-danger' style='padding:25px 10px;margin:0 0 20px; '>
                        {{errormessage}}</div>
                    {% endfor %}

                </div>
                {% endif %}

            </div>





    </div>
</div>

</div>
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>


<script>
     $("#id_cablename").change(function () {
        var url = "/ajax/loadcableplans/"; // get the url of the `load_cities` view
        var cablenameId = $(this).val(); // get the selected country ID from the HTML input

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'cablename': cablenameId // add the country id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#id_cableplan").html(data); // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>


 
<script>


  $("#validateiuc").click(function() {
    var iuc = $("#id_smart_card_number").val();
    var cablename =$("#id_cablename option:selected").text();
    var id_cableplan = $("#id_cableplan").val();

    if(iuc == "" || cablename == "" || id_cableplan == "" ){
        alert(" All fields are required");
    }
    else {

    $.ajax({
      type:'GET',
      beforeSend: function(){
            //$('#process').css("display", "block");
            //$('#displaytext').css("display", "none");
            $.LoadingOverlay("show");
          },
      url: '/ajax/validate_iuc/',
      data: {
        'smart_card_number': iuc,
        'cablename':cablename
      },
      dataType: 'json',
      success: function (data) {
          $.LoadingOverlay("hide");
          $("#div_id_customer_name").css("display", "block");
          $('#validateiuc').hide();
          $("#id_customer_name").val(data.name);
          document.getElementById("id_customer_name").disabled = true;

          //$("#name").css("display", "block");
          //$("#name").text(data.name);
          console.log(data);
          
          if (data.invalid == false){
              $(".process").css("display", "block");
              $("#validateiuc").css("display", "none");
          }
          else{
              swal({
                title: "Error",
                text: "invalid smartcard number!",
                icon: "error",
              });
              
               $("#validateiuc").css("display", "block");
          }

      },
      complete: function(){
            $.LoadingOverlay("hide");
            $('#process').css("display", "none");
            $('#displaytext').css("display", "block");
        },
    });
  }

  });

</script>
<!-- exising validate -->

<script>
  $('#btnsubmit').click(function(){
    var iuc = $("#id_smart_card_number").val();
    var cablenameText =$("#id_cablename option:selected").text();
    var id_cableplan = $("#id_cableplan option:selected").text();
    var customerName = $("#id_customer_name").val();
    var url = "/api/cablesub/";
    var cableplan = $("#id_cableplan").val();
    var cablename = $("#id_cablename ").val();
    var smart_card_number = $("#id_smart_card_number").val();
    var token = '{{ csrf_token }}';       
    var cableplantext = $("#id_cableplan option:selected").text();
    var id_cablenametext=  $("#id_cablename option:selected").text();
    var smart_card_numbertext = $("#id_smart_card_number").val();

        swal({
          title: "Are you sure?",
          text: "You are about to subscribe " + cablenameText + " ("+ id_cableplan +")"  + " for "+ customerName + " - " + iuc,
          icon: "info",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
              if (willDelete) {
                swal("Enter your pin:", {
                  content: "input",
                })
                .then((value) => {
                      //first ajax function starts here
                          $.ajax({
                              type:'GET',
                              beforeSend: function(){
                                  $.LoadingOverlay("show");
                                },
                              url: "/api/checkpin?pin=" + value,
                              success: function (data) {
                                //second ajax function starts here
                                var token = '{{ csrf_token }}';
                                  $.ajax({
                                        type:'POST',
                                        contentType: "application/json",
                                        beforeSend: function(){
                                              $.LoadingOverlay("show"); 
                                            },
                                        url: '/api/cablesub/',
                                        headers: { "X-CSRFToken": token },
                                        data: JSON.stringify( {"cablename": cablename, "cableplan" :cableplan, "smart_card_number":smart_card_number, "customer_name":customerName}),
                                        success: function (data) {
                                              //$('#successModal').modal()
                                                swal({
                                                    title: "Transaction Successful!",
                                                    text: "you successfully recharged",
                                                    icon: "success",
                                                    button: "View Reciept!",
                                                });
                                                //
                                                $('.swal-button--confirm').click(function(){
                                                      $.ajax({
                                                            beforeSend: function(){
                                                                $.LoadingOverlay("show");
                                                            },
                                                            success: window.location.href = '/Cablesub_success/' + String(data.id)
                                                      });
                                                });
                                               
                                          },
                                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                                             $.LoadingOverlay("hide");
                                                    console.log(errorThrown)

                                                    if ( String(JSON.parse(XMLHttpRequest.status)) == 500){
                                                        swal("Oops!","Something went wrong please contact admin ","error")
                                                    }
                                                    else if (JSON.parse(XMLHttpRequest.responseText).error){
                                                          swal("Oops!",String(JSON.parse(XMLHttpRequest.responseText).error),"error")
                                                    }
                                                    else{
                                                        swal("Oops!",String(XMLHttpRequest.responseText),"error")
                                                    }
                                            },
                                        complete: function(){
                                               
                                                $.LoadingOverlay("hide");
                                              }
                                        });
                                //second ajax function ends here
                              },
                              error: function(XMLHttpRequest, textStatus, errorThrown) {
                                 $.LoadingOverlay("hide");
                                                    console.log(errorThrown)

                                                    if ( String(JSON.parse(XMLHttpRequest.status)) == 500){
                                                        swal("Oops!","Something went wrong please contact admin ","error")
                                                    }
                                                    else if (JSON.parse(XMLHttpRequest.responseText).error){
                                                          swal("Oops!",String(JSON.parse(XMLHttpRequest.responseText).error),"error")
                                                    }
                                                    else{
                                                        swal("Oops!",String(XMLHttpRequest.responseText),"error")
                                                    }
                              },
                              complete: function(){
                                  $.LoadingOverlay("hide");
                                }
                          });
                      //first ajax function ends here
                });

              } else {
                swal("You pressed cancel");
              }
        })
  });
</script>



{% if user.is_authenticated and  not  user.is_superuser and   user.Account_Balance < 50  %}

<script>
$( document ).ready(function() {
swal({
 
  text: "Wallet below minimum vending amount N{{user.Account_Balance|intcomma}}",
  icon: "info",
  button: "ok",
  timer: 60000,
}).then(() => {
  window.location="{% url 'profile' %}"
});
});
</script>
{% endif %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  
  <script type="text/javascript">
       document.getElementById('btnPrint').addEventListener('click',
       Export);

  function Export() {
            html2canvas(document.getElementById('receipt'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("cablesubreceipt.pdf");
                }
            });
        }  </script>

{% endblock %}