{%load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>legitdata</title>
  <meta name="theme-color" content="#110b94">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.pntabg">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/manifest.json">
  <meta name="msapplication-TileColor" content="#110b94">
  <meta name="msapplication-TileImage" content="/static/img/bg.jpg">
  <meta itemprop="name" content="legitdata- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta itemprop="description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
    <meta itemprop="image" content="/static/img/bg.jpg">
    <link rel="stylesheet" href="{% static 'ogbam/w3.css' %}">
  
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="/static/img/bg.jpg">
    <meta name="twitter:title" content="legitdata- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta name="twitter:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
    <meta name="twitter:image:src" content="/static/img/bg.jpg">
  
    <!-- Open Graph data -->
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="legitdata- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta property="og:image" content="/static/img/bg.jpg">
    <meta property="og:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN."/>
    <meta property="og:site_name" content="legitdata"/>
    <meta property="og:url" content="https://www.legitdata.com.ng>
    <meta property="og:type" content="website">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'ogbam/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'ogbam/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'ogbam/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
         
          <img class="logo mr-auto" src="/static/ogbam/assets/img/networth.png"  height="150px">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="/static/ogbam/assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Our Services</a></li>
              <li><a href="/signup">Register</a></li>
              <li><a href="/login">Login</a></li>
              
            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->
  <div class="" style="margin-top: 90px;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/ogbam/assets/img/intro-carousel/6.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/ogbam/assets/img/intro-carousel/7.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/ogbam/assets/img/intro-carousel/9.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/ogbam/assets/img/intro-carousel/11.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/ogbam/assets/img/intro-carousel/10.jpg" alt="Fifth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div></div>
  
			<div class="container">

				<center>
				<br>
				<br>
					<p>
						<a href="/signup/" class="btn  mr-4 py-3 px-4" style="background-color: purple; color: white;">Register <span class="fa fa-plus" style="color: white"></span></a>

						<a href="/login/" class="btn  py-3 px-4"style=" background-color:purple;  color: white;">Login <span class="fa fa-unlock" style="color: white"></span></a></p>

				</center>
			</div>
                 </div>
			
<br>
			 <br>
  <main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-people-outline"></i>
            <h4 class="title"><a href="">We're Reliable</a></h4>
            <p class="description">With our several years of experience and engineers, we have learnt in the past years to be able to fully optimize our platform for reliability and dependability..</p>
                
		 </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">We're Fast</a></h4>
            <p class="description">Your wallet is the safest means of transacting with your mobile airtime. Your funds in your wallet can be kept as long as you want and it’s secured...</p>
               
         
		 </div>

          <div class="col-lg-4 box">
            <i class="fa fa-shield"></i>
            <h4 class="title"><a href="">You're Safe</a></h4>
            <p class="description">Our Data delivery and wallet funding is automated, Airtime topup and data purchase are automated and get delivered to you almost instantly...</p>
               
		  </div>

        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Networth Link Solutions Ltd popularly known as legitdata was formed in 2019 and incorporated in 2020 as a private limited liability company.
It is a third party company in telecommunication industry playing a major role in distribution, selling affordable  and most cheapest data, airtime, Dstv subscription, Gotv subscription, Startimes subscription, Spectranet subscription, smiles subscription, Electricity subscription, Bulksms Service provider, phones, laptops, and accessories outlet.

</P>
	   </header>

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="/static/ogbam/assets/img/mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
               To be an excellent service provider in the telecommunication industry. We seek avenues to add value to our customers and the entire Nigerian.
			  </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="/static/ogbam/assets/img/belief.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Beliefs</a></h2>
              <p>
               At legitdata: Customer first. Therefore, we consistently seekavenues to make our partners and customers enjoy affordable and excellent delivery service at their comfort zone.
			 </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="/static/ogbam/assets/img/vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
               To build a world class innovative organization that offers affordable and consistent excellent servicedelivery that meet vast Nigerian needs.
			 </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We provide services such as:</p>
       
	   </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa fa-wifi"></i></div>
            <h4 class="title"><a href="">Buy Data</a></h4>
            <p class="description">Start enjoying this very low rates Data plan for your internet browsing databundle.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-mobile-phone"></i></div>
            <h4 class="title"><a href="">Airtime Topup</a></h4>
            <p class="description">Making an online recharge has become very easy and safe on legitdata</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
            <h4 class="title"><a href="">Utility Bills</a></h4>
            <p class="description">Because we understand your needs, we have made bills and utilities payment more convenient.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-desktop"></i></div>
            <h4 class="title"><a href="">Cable Subscription</a></h4>
            <p class="description">Instantly Activate Cable subscription with favourable discount compare to others </p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa fa-money"></i></div>
            <h4 class="title"><a href="">Airtime To Cash</a></h4>
            <p class="description">Convert your airtime easily to cash here with less charges.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fa fa-credit-card"></i></div>
            <h4 class="title"><a href="">Education Scratch Cards</a></h4>
            <p class="description">Get your E-pins, JAMB registration forms and scratch cards here! </p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Contact Us Now!</h3>
        <p> We are available 24/7 to attend to you... </p>
        
		<a class="cta-btn" href="https://wa.me/2349034974731">Contact Us</a>
      </div>
    </section><!-- End Call To Action Section -->

   
    <!-- ======= Facts Section ======= -->
    <section id="facts">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Facts</h3>
        </header>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1000</span>
            <p>Happy Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Users Visited Today</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">400</span>
            <p>Logged In Users</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2</span>
            <p>Years Of Experience</p>
          </div>

        </div>

       
    </section><!-- End Facts Section -->
    

    <!-- ======= Our Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Our Partners</h3>
        </header>

        <div class="owl-carousel clients-carousel">
         <img src="/static/ogbam/assets/img/ibedc.png" alt="" style="height:100px;width:100px;">
           <img src="/static/ogbam/assets/img/dstv.png" alt="" style="height:100px;width:100px;">
       <img src="/static/ogbam/assets/img/gotv.png" alt="" style="height:100px;width:100px;">
          <img src="/static/ogbam/assets/img/mtn.png" alt="" style="height:100px;width:100px;">
           <img src="/static/ogbam/assets/img/airtel.png" alt="" style="height:100px;width:100px;">
             <img src="/static/ogbam/assets/img/glo.png" alt="" style="height:100px;width:100px;">
			  <img src="/static/ogbam/assets/img/9mobile.png" alt="" style="height:100px;width:100px;">
          
        </div>

      </div>
    </section><!-- End Our Clients Section -->
  <section class="ftco-section" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
		  <br>
		  <Br>
          	<b><span class="heading" style="color: white">Price &amp; Plans</span></b>
            <h2 style="color:white">Affordable Packages</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
	          <div class="shadow-lg p-3 mb-5 bg-white rounded">
	            <div class="text-center">
				<img src="/static/ogbam/assets/img/a.jpg">
	            	<span class="excerpt d-block">MTN DATA</span>
	            <div class="pricing-text mb-5">
                <table class="table table-all ">

                  {% for plans in plan %}
      
      
                  <tr>
      
                    <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
      
                    <td style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                       <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
      
                  </tr>
                  {% endfor %}
      
      
                </table>  		</div>

	            <a href="/profile" class="btn btn-primary d-block px-2 py-3 " style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);"><i class="fa fa-shopping-cart"></i> Shop Now</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
              <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="text-center">
              <img src="/static/ogbam/assets/img/b.jpg">
                  <span class="excerpt d-block">AIRTEL DATA</span>
                <div class="pricing-text mb-5">
                  <table class="table table-all ">

                    {% for plans in plan_4 %}
        
        
                    <tr>
        
                      <td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
        
                      <td style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                        <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
        
                    </tr>
                    {% endfor %}
        
        
                  </table>    
                </div>
                <a href="/profile" class="btn btn-primary d-block px-2 py-3" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);"><i class="fa fa-shopping-cart"></i> Shop Now</a>
                </div>
              </div>
          </div>
          
	        <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
	          <div class="shadow-lg p-3 mb-5 bg-white rounded">
	            <div class="text-center">
	            	<img src="/static/ogbam/assets/img/d.jpg">
	            	<span class="excerpt d-block">GLO DATA</span>
					<div class="pricing-text mb-5">
            <table class="table table-all ">
	
							{% for plans in plan_2 %}
	
	
							<tr>
	
								<td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
	
								<td style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
								   <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
	
							</tr>
							{% endfor %}
	
	
						</table>       </div>

	            <a href="/profile" class="btn btn-primary d-block px-2 py-3" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);"><i class="fa fa-shopping-cart"></i> Shop Now</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
	          <div class="shadow-lg p-3 mb-5 bg-white rounded">
	            <div class="text-center">
	            	<img src="/static/ogbam/assets/img/c.jpg">
	            	<span class="excerpt d-block">9MOBILE DATA</span>
					<div class="pricing-text mb-5">
						<table class="table table-all ">
	
							{% for plans in plan_3 %}
	
	
							<tr>
	
								<td style="color: rgb(5, 37, 78); font-size:18px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
	
								<td style="color: rgb(5, 37, 78); font-size:18px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
								   <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
	
							</tr>
							{% endfor %}
	
	
						</table>      </div>

	            <a href="/profile" class="btn btn-primary d-block px-2 py-3" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);"><i class="fa fa-shopping-cart"></i> Shop Now</a>
	            </div>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>
	

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="/static/ogbam/assets/img/a2.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Lead Developer</h4>
            <p>
              <img src="/static/ogbam/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              legitdata is best platform when its come to affordable data plan for both end-user and resseller ,i recommend this platform it's fast, automated and secured
                
			  <img src="/static/ogbam/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="/static/ogbam/assets/img/a1.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>UI/UX Designer</h4>
            <p>
              <img src="/static/ogbam/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
              I love the quick response to issues. We might just get along well. So far so good. There's no star here but I give ⭐⭐⭐.
              
			  <img src="/static/ogbam/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="/static/ogbam/assets/img/a3.jpg" class="testimonial-img" alt="">
            <h3>Joe Karlis</h3>
            <h4>Marketing Manager</h4>
            <p>
              <img src="/static/ogbam/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
            These site is great... All thanks to legitdata.I can really say that since I joined this site I have been earning more than before... Kudus legitdata Kudus to the developer.
               
			<img src="/static/ogbam/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="/static/ogbam/assets/img/a4.png" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Student</h4>
            <p>
              <img src="/static/ogbam/assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
             Amazing!...i recommend to all data Affilliates...kudos
			  
			  <img src="/static/ogbam/assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>We are available 247 to attend to you..Contact Us Below!</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address> 8 Animashaun Street, Iyana- ipaja, Alimosho. Lagos. Nigeria.</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+234 903 497 4731">+234 903 497 4731</a></p>
			  <p><a href="tel:+234 903 413 8703">+234 903 413 8703</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info.legitdata@gmail.com">inlegitdata@gmail.com</a></p>
            </div>
          </div>

        </div>

     
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <h3>legitdata</h3>
            <p>legitdata provides affordable and excellent service when it comes to internet Data Subscriptions, Airtime distribution and Airtime VTU, Airtime to cash, Education Scratch cards, Bulksms, payment bills like Electricity, DSTV, GOTV, STARTIMES, Spectranet, Smile, Swift Network.</p>
		 </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/profile">Our Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/signup">Register</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/login">Login</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              8 Animashaun Street, <br>
              Iyana-Ipaja, Alimosho<br>
             Lagos, Nigeria. <br>
              <strong>Phone 1:</strong> +234 903 497 4731 <br>
			  <strong>Phone 2:</strong>+234 903 413 8703<br>
              <strong>Email:</strong>info.legitdata@gmail.com<br>
            </p>

            <div class="social-links">
             
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-whatsapp"></i></a>
              
            </div>

          </div>

          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>legitdata</strong>. All Rights Reserved
      </div>
      <div class="credits">
      
        Designed by <a href="">MSORG DEVELOPERS</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
    <script src="{% static 'ogbam/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'ogbam/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
    <script src="{% static 'ogbam/assets/js/main.js' %}"></script>

</body>

</html>