 {% extends 'base.html' %} {% block title %}Coupon Success | legitdata{% endblock %} {% block content %}
<div class='w3-container'>
    <div class='w3-panel w3-card-4  w3-round' id='header' style='padding:0 5px; margin:50px 3px ;'>

        <h3 class='w3-center' id='header'>Coupon Payment Analysis </h3>


                <table class='table table-all'>
                    <tr>

                        <td><b>ID</b></td>
                        <td>{{Coupon.ident}}</td>
                    </tr>

                    <tr>

                        <td><b>Depositor</b></td>
                        <td>{{user.username}}</td>

                    </tr>

                    <tr>

                        <td><b>Amount</b></td>
                        <td>{{Coupon.amount}}</td>
                    </tr>

                    <tr>

                        <td><b>Coupon Code</b></td>
                        <td>{{Coupon.Code}} </td>
                    </tr>

                    <tr>

                        <td><b>Current Balance</b></td>
                        <td>{{user.Account_Balance}}</td>
                    </tr>

                    <tr>

                        <td><b>Type </b></td>
                        <td>Coupon Code Payment</td>
                    </tr>
                </table>
                <button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button  w3-blue w3-round w3-right" >Proceed</button>


            </div>
         
            <div id="subscribe" class="w3-modal w3-animate-opacity">
                <div class="w3-modal-content" style="padding:32px; border-radius:20px; margin-top:100px;">
                    <div class="w3-container w3-white">

                        <div class='w3-center'>
                            <span class=' class="w3-button  w3-green ' style=' border-radius:60px; padding:6px 14px 6px 14px; font-size:40px; '> ✓ </span>
                            <h5> <b>SUCCESS!</b></h5>

                            <p>Dear Customer ,your Account has been Credited with sum of #{{Coupon.amount}} .</p>
                            <a href="{% url 'profile' %}" class="w3-button  w3-blue w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none' " style=' border-radius:10px; padding:6px 18px 6px 18px; '>OK</a>



                        </div>


            </div>

        </div>
    </div>

</div>



{% endblock %}