{% extends 'base.html' %}

{% block title %}Flutterwave payment{% endblock %}


{% block content %}


<style>


.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.box {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=number]{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>

  <div style="padding:90px 15px 20px 15px" >

<h2 class="w3-center">Fund account with Flutterwave </h2>

    <div class="box">


        <div class="row">

         <div class="col-sm-8">
          <form method="POST">     {% csrf_token %}
            {% include 'baseform.html' %}
            <div class="container">

              <p>Transaction charge</a> <span class="price" id='printchatbox'></span></p>

             <hr>
              <p>Total <span class="price" style="color:black" id='charge' ><b></b></span></p>
            </div>


              <input type="submit" value="Continue to Funding" class="w3-orange btn"  >
            </form>
            <center>
            <img  src="https://files.readme.io/cff1437-Badge_1_1.png" height="100">
          </center>
          </div>
               <div class="col-sm-4">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>



</div>
</div>

</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
             $("#id_amount").keyup(function() {
                    var charge = (Number($("#id_amount").val()) * 0.015);
                    $("#charge").text('#' + (Number($("#id_amount").val()) + charge ));
                    $("#printchatbox").text(charge)



        });





    });
</script>

{% endblock %}

