 {% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'ogbam/form.css' %}"> {% block title %} User Details | legitdata{% endblock %} {% block content %}
<div style="padding-top:120px;margin-bottom:90px;">
    <a href="{% url 'Editprofile' %}" class="btn btn-info "><i class="fa fa-pencil" aria-hidden="true" style= 'padding-right:10px;font-size:20px;color:white; '></i>Update</a>
    <div class="box card-4">

                <table class='table table-all'>

                    <tr>

                        <td><b>Username</b></td>
                        <td>{{user.username}}</td>
                    </tr>

                    <tr>

                        <td><b>Phone Number</b></td>
                        <td>{{user.Phone}}</td>
                    </tr>


                    <tr>

                        <td><b>Email</b></td>
                        <td>{{user.email}}</td>
                    </tr>


                    <tr>

                        <td><b>Bank Name</b></td>
                        <td>{{user.BankName}}</td>
                    </tr>


                    <tr>

                        <td><b>Account Number</b></td>
                        <td>{{user.AccountNumber}}</td>
                    </tr>

                    


                    </table>


          
            <!--<a  href="{% url 'airtime' %}"  class="w3-button  w3-teal w3-round w3-right "  onclick = "document.getElementById('subscribe').style.display='block' "  style=' border-radius:0  0 20px 20px; '>Proceed</a>
          -->


        </div>
    </div>

</div>




{% endblock %}