{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% load humanize %} {% block title %}Withdraw|legitdata{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'ogbam/form.css' %}">

<div style="padding:90px 15px 20px 15px" >


    <h2 class="w3-center">Withdraw</h2>

    <div class="box w3-card-4">

        <form method='post' id="dataform">


            <div class="row">

                <div class="col-sm-8">

                    {% csrf_token %} {% include 'baseform.html' %}


                    <button type="submit" onClick="this.form.submit(); this.disabled=true; this.innerText ='Processing.....'; " class=" btn" style=';margin-bottom:15px;'>Proceed</button>

                </div>
                <div class="col-sm-4  ">

               <h2> withdraw charges N100</h2>

                    {% if form.non_field_errors %} {% for errormessage in form.non_field_errors %}

                    <div class=' alert alert-danger' style='padding:25px 10px;margin:0 0 20px; '>
                        {{errormessage}}</div>
                    {% endfor %}

                </div>
                {% endif %}

            </div>

    </div>
</div>




<script>

$(function()
{
  $('#btnsubmit').on('click',function()
  {
    $(this).text('Please wait ...')
      .attr('disabled','disabled');
    $('#dataform').submit();
  });

});
</script>


</div>
{% endblock %}